{% extends 'base.html' %}
{% block title %}Render Data{% endblock %}
{% block header %}Render Data{% endblock %}
{% block content %}
    <section>
        <h2>List of Data</h2>
        <p>Total items: {{ data|length }}</p>
        {% if data %}
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Age</th>
                    <th>City</th>
                </tr>
            </thead>
            <tbody>
                {% for d in data %}
                <tr>
                    <td>{{ d.id }}</td>
                    <td>{{ d.name | upper }}</td>
                    <td>{{ d.age }}</td>
                    <td>{{ d.city }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>No data available.</p>
        {% endif %}
    </section>
{% endblock %}